<aside class="control-sidebar control-sidebar-dark">
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane" id="control-sidebar-home-tab">
          <h3 class="control-sidebar-heading">Actividad Reciente</h3>
          <ul class="control-sidebar-menu">
              <li>
                  <a href="javascript:void(0)">
                      <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                      <div class="menu-info">
                          <h4 class="control-sidebar-subheading">Cumpleaños de Langdon</h4>
                          <p>Cumplirá 23 el 24 de abril</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <i class="menu-icon fa fa-user bg-yellow"></i>
                      <div class="menu-info">
                          <h4 class="control-sidebar-subheading">Frodo Actualizó su Perfil</h4>
                          <p>Nuevo teléfono +1(800)555-1234</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                      <div class="menu-info">
                          <h4 class="control-sidebar-subheading">Nora Se Unió a la Lista de Correo</h4>
                          <p>nora@example.com</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <i class="menu-icon fa fa-file-code-o bg-green"></i>
                      <div class="menu-info">
                          <h4 class="control-sidebar-subheading">Trabajo Cron 254 Ejecutado</h4>
                          <p>Tiempo de ejecución 5 segundos</p>
                      </div>
                  </a>
              </li>
          </ul>
          <h3 class="control-sidebar-heading">Progreso de Tareas</h3>
          <ul class="control-sidebar-menu">
              <li>
                  <a href="javascript:void(0)">
                      <h4 class="control-sidebar-subheading">
                          Diseño de Plantilla Personalizado
                          <span class="label label-danger pull-right">70%</span>
                      </h4>
                      <div class="progress progress-xxs">
                          <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <h4 class="control-sidebar-subheading">
                          Actualizar Currículum
                          <span class="label label-success pull-right">95%</span>
                      </h4>
                      <div class="progress progress-xxs">
                          <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <h4 class="control-sidebar-subheading">
                          Integración con Laravel
                          <span class="label label-warning pull-right">50%</span>
                      </h4>
                      <div class="progress progress-xxs">
                          <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <h4 class="control-sidebar-subheading">
                          Marco de Trabajo Back End
                          <span class="label label-primary pull-right">68%</span>
                      </h4>
                      <div class="progress progress-xxs">
                          <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                      </div>
                  </a>
              </li>
          </ul>
      </div>
      <div class="tab-pane" id="control-sidebar-stats-tab">Contenido de la Pestaña de Estadísticas</div>
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <form method="post">
              <h3 class="control-sidebar-heading">Configuración General</h3>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Usar panel de reportes
                      <input type="checkbox" class="pull-right" checked>
                  </label>
                  <p>
                      Información sobre esta opción de configuración general
                  </p>
              </div>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Permitir redirección de correo
                      <input type="checkbox" class="pull-right" checked>
                  </label>
                  <p>
                      Otros conjuntos de opciones están disponibles
                  </p>
              </div>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Mostrar nombre del autor en publicaciones
                      <input type="checkbox" class="pull-right" checked>
                  </label>
                  <p>
                      Permitir al usuario mostrar su nombre en publicaciones de blog
                  </p>
              </div>
              <h3 class="control-sidebar-heading">Configuración de Chat</h3>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Mostrarme como conectado
                      <input type="checkbox" class="pull-right" checked>
                  </label>
              </div>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Apagar notificaciones
                      <input type="checkbox" class="pull-right">
                  </label>
              </div>
              <div class="form-group">
                  <label class="control-sidebar-subheading">
                      Eliminar historial de chat
                      <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                  </label>
              </div>
          </form>
      </div>
  </div>
</aside>